@use "variables" as *;
.about {
    width: 60%;
    margin: 0 auto;
    img {
        width: 200px;
        text-align: center;
        padding: 4rem;
    }
    h1, h2 {
        font-size: 2.5rem;;
    }
    p {
        width: 80%;
        // padding: 0 2rem 2rem 0;
    }
}

.about-wrap {
    display: flex;
    align-items: center;
    border-bottom: solid rgba(128, 128, 128, 0.359) 4px;
}

.tmdb img {
    padding: 7rem 6rem 7rem 3rem;
}