@use "variables" as *;
.about {
    width: 70%;
    margin: 0 auto;
    img {
        width: 200px;
        text-align: center;
        padding: 4rem;
    }
    h1, h2 {
        font-size: 2rem;;
    }
    p {
        width: 80%;
    }
}

.about-wrap {
    display: flex;
    align-items: center;
    border-bottom: solid rgba(128, 128, 128, 0.359) 4px;
}

.fliknook-about img{
    width: 200px;
}

.tmdb img {
    padding: 6rem 6rem 6rem 3rem;
}

@media (max-width: $large) {
.about {
        width: 80%;
        display: block;
        text-align: center;
        h1, h2 {
            font-size: 1.75rem;
        }
        img {
            width: 100px;
            padding: 1rem;
        }
        p {
            width: 100%;
        }
} 
.about-wrap {
    display: block;
    }
}

@media (max-width: $small) {
    .about {
            h1, h2 {
                font-size: 1.5rem;
            }
            p {
                font-size: .75rem;
            }
    } 
}