@use "variables" as *;

.error__container{
 
    height: 100vh;
    text-align: center;
}

.err_link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error__img-desktop{ 
   width:30%;
}
.error__img-mobile{ 
    width:60vw;
    
 }

 .error {
    margin: 0 auto;
    height: auto;
 }
 
.error__btn-desktop{
    margin-top: 3rem; 
    padding: 1rem 2rem;
    background-color:#D9CEFE;
    color: $black;
    font-size: large;
    font-family: $poppins;
    font-weight: 600;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-transform: uppercase;
    

    &:hover{
        background-color:$white;
        
    }
}
    //mobile

    
    .error__btn-mobile{
        padding: 0.5rem 1rem;
        background-color: #D9CEFE;
        color: $black;
        font-size: medium;
        font-family: $poppins;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;

    }
     
  


