@use 'variables' as *;
.heart-button {
    background-color: transparent;
    border: none;
    position: absolute;
    padding: .5rem;
}

.favourite-wrap {
   width: 80%;
   margin: 0 auto; 
   h2 {
    font-size: 2.5rem;
   }
   p {
    font-size: 1.5rem;
   }
   a {
    color: hotpink;
    font-weight: 700;
    &:hover {
     color: $main-color;
    }
   }
}

.movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    h3 {
        text-wrap: wrap;
    }
    img {
        width: 100%;
    }
}