@use "variables" as *;

.header-logo {
    width: 5rem;
    margin: .5rem 0 0 2rem;
}

.desktop-header {
    display: flex;
    justify-content: space-between;
}

.desktop-nav {
    position: relative;
    margin-right: 2rem;

    ul {
        font-size: 1.25rem;
        display: flex;
        position: relative;
        margin: 1rem;
        list-style: none;

        li {
            padding: 1rem;
            font-weight: 600;

            li:hover {
                color: $main-color;
            }

            a {
                text-decoration: none;
                // color: $white;

                a:hover {
                    color: $main-color;
                }
            }
        }
    }
}



.active {
    color: red;
}

//mobile

.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem 2rem;
}

.hamburger{
    display:block;
 
    
}


    .mobile-nav{
        position: absolute;
        top: 77px; /* Position below the header */
        right: 0;
       background-color: $main-color;
        box-shadow: 0 2px 4px $main-color;
        z-index: 999;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        // display: none; /* Initially hide the mobile menu */
        


        ul{
            list-style: none;
            padding-left: 0;
            // position: absolute;
            // justify-content: center;
            // align-items: center;
           
          
          
        }

        li{
            font-weight: 600;

            a{
                text-decoration: none;
                // color: $main-color;

                &:hover{
                    color: $white;
                }
                

            }
        }
    }




