@use "variables" as *;
body, a, a:visited {
    background-color: var(--body_background);
    color: var(--body_color);
    font-family: $poppins;
}

a:hover {
    color: $main-color;
}

.active {
    color: hotpink !important;
}