$black: black;
$white: white;
$main-color: #46CBB2;
$grey: #ACABAB;
$star: yellow;
$rating: #00E600;

// Regular400 SemiBold600 Bold700
$poppins: 'Poppins', sans-serif;

// Break points
$xLarge: 1300px;
$large: 1024px;
$medium: 700px;
$small: 500px;
